{% extends 'base.html.twig' %}

{# {% block header %}
    <header>
        <nav>
            <ul>
                <li><a href="#">Pagina de inicio</a>
                <li><a href="#">Empleados HTML</a>
                <li><a href="#">Empleados Json</a>
            </ul>
        </nav>
    </header>
{% endblock %} #}

{% block body %}
    {{ include('partial/header.html.twig') }}
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Localidad</th>            
            </tr>
        </thead>
        <tbody>
            {% for person in people %}
            <tr>
                <td>{{ person.name }}</td>
                <td><a href="{{ path('default_show', { id: loop.index0 }) }}">{{ person.email }}</a></td>
                <td>{{ person.city }}</td>
                <td>
                    <ul><a href=>Ver en formato Html</a></ul>
                    <li><a href="{{ path('default_index_json', { _format: 'json',  id: loop.index0 }) }}">Ver en formato JSON</a></li>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block stylesheets %}
<style>
    body {
        background-color: pink;
    }
</style>
{% endblock %}
